html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,
dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,
video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: arial;}
h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body,html {
	background-color: #FFF;
}

#logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 2.7rem;
    margin-left: -25px;
	margin-top: .055em;
	margin-bottom: .25em;
    color: #FFF;
	width:80%;
	background: #dd4b39;
}
.githubL strong{
	width:auto;
    font-size: 1.5rem;
	color:goldenrod;
	margin-left: -25px;
	margin-bottom: .25em;
}

.githubL a{
	width:auto;
    font-size: 1rem;
}

.aboutProject h1{
	background-color:#4496d5;
	max-width:50%;
    font-size: 2em;
	color:#FFF;
	margin-left: -25px;
	margin-top: .3em;
	margin-bottom: .15em;
}

.aboutProject p{
	margin-left: 20px;
}

main {
	width: 100%;
}

aside {
	width: 100%;
}

/*button previous */
.previous li{
	text-decoration: none;
	list-style: none;
}
#prev{
	font-size: 3rem;
	text-decoration: none;
	transition: all ease-in-out 250;
	margin-left: 30px;
	margin-top: 10px;
	color:#4496d5;
}
#prev:hover{
	color:#dd4b39;
}

article {
    border-bottom: 2px dotted #999;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
article h2 {
    font-weight: normal;
    margin-bottom: 12px;
}
article p {
	
}


aside > div {
	margin: 10px auto;
	min-height: 100px;
}

 .tabletableright{
	width: 20%;
	float: left;
 }	
  .tabletableleft{
	width: 75%;
	float: left;
	text-align: left;
 }	


body > section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0px;
    border-bottom: 1px solid #999;
    color: #333;
}

@media screen and (max-width: 1000px) {
	body > section {
		padding: 30px 20px;
	}
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 1em;
  font-style:bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  color:#FFF;
  background:goldenrod;
}
.c{
	 background-color:#FFF;
	 border: 0px solid #ccc;
}
.a{
	text-align: left;
}

#lists{
	font-size: 18px;
	text-indent: 5px;
	/*  background-color:#FFF; */
}
#lists1{
	background-color: #ddd;
	font-size: 20px;
	text-indent: 10px;
}
		
@media screen and (max-width: 600px) {
	main {
			float: none;
			width: 100%;
		}
	aside {
			float: none;
			width: 100%;
		}
	 #logo {
		font-size: 2rem;
		 }
  table {
    border: 0;
  }

  table tr {
    display: block;
    margin-bottom: .1em;
	max-width:85vw;
	background-color: #f8f8f8;
	padding: .35em;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: right;
	max-width:80vw;
	
  }
 tbody{
	
 }	 
  tbody tr td{
	
	width: 100%;
 }	
  table th {
	  display:none;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
  .tableHeader{
	display:none;
}
   .tabletableright{
	display: none;
 }	
  .tabletableleft{
	width: 100%;
	font-size: .8em;
 }	
 
 .aboutProject h1{
	font-size: 1.5rem;
	max-width:60%;
 }
}

.responsive {
  width: 100%;
  max-width: 500px;
  height: auto;
}
