<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Prem Dhakal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="indexCSS6.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<link href="../css/projectCSS.css" rel="stylesheet" type="text/css">
</head>

<body>

	<div class="portfolio2">
		<div class="projectTitle">
			ccna2cracked
		</div>
		
		<div class="linkToGithub">
			Here is link to github: <a href="https://premdhakal.github.io/ccna2cracked/" 
				style="font-size: 18px; text-decoration: none">  &nbsp;&nbsp;https://premdhakal.github.io/ccna2cracked/</a>
			<p style="font-size: 10px; margin-left: 180px; margin-top:-2px">**Please allow flash player to experience full features on site while viewing live demo**</p>
		</div>
		
		<div class="descpProject">
			<h1>About Project: </h1>
			<br>A web application that utilizes <b>JavaScript, HTML, CSS</b> with <b>Flash Animations.</b> Goal of the site is to make it easy and fun learning experience for students to learn CCNA 2 - Routing and Switching Basics.
		</div>
		<div class="projectFeatures">
			<div class="columnPF">
				<h1 id="columnPFHeading" style="width: 280px" >Techology Used: </h1>
				<li id="lists2">HTML</li>
				<li id="lists">CSS</li>
				<li id="lists2">JavaScript</li>
				<li id="lists">Bootstrap</li>
				<li id="lists2">Adobe Animate</li>
				<li id="lists">Notepad++</li>
			</div>
			<div class="columnPF2">
				<h1 id="columnPFHeading" style="width: 400px">Features Implemented: </h1>
				<li id="lists2">Subnet Calculator</li>
				<li id="lists">Flash Player</li>
				<li id="lists2">Tips/Tricks</li>
				<li id="lists">Contact US</li>
				<li id="lists2">Videos</li>
			</div>
			
		</div>
		
			<div class="imageLabel" style="margin-top: 325px">Screenshots</div>
		<div class="moreDetail" style="overflow:auto">
			<div class="picAreas">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Home Page:</b> Simple and elegant home page consisting of logo, navigation bar, sections, paragraphs, forms and outside links. Flash is implemented here to make site more engaging.</p>
			    <img id="pic1" src="../assets/img/CCNA2/ccnaFP.PNG" alt="imag1">
				<p id="picDesp"><b style="font-size: 25px ; color:#dd4b39 " >Calculator Page:</b> Here, users can enter IP Address and user can get simple response to their input using JavaScript.</p>
				<img id="pic2" src="../assets/img/CCNA2/ccnaConv.PNG" alt="imag2">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Commands Page:</b> Here, users can see list of common commands.</p>
				<img id="pic4" src="../assets/img/CCNA2/ccnaCmd.PNG" alt="imag4">
				<p id="picDesp"><b><b style="font-size: 25px; color:#dd4b39 " >Tips/Tricks Page:</b> Tips and Tricks list variety of quick tips and tricks they can use to make learning CCNA easier.</p>
				<img id="pic3" src="../assets/img/CCNA2/ccnaTips.PNG" alt="imag3">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Contact Page:</b> Here, a simple form for communication purpose.</p>
				<img id="pic4" src="../assets/img/CCNA2/ccnaCon.PNG" alt="imag4">
			 </div>
		</div>
	</div>
  </div>
</body>
</html>
