<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Samba Server</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/singlepage_style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<div id="logo">CCNA2 Cracked</div>
	</header>
	<section>
		<strong>Link to GitHub:  <a href="https://premdhakal.github.io/ccna2cracked/" 
				style="font-size: 18px; text-decoration: none">  &nbsp;&nbsp;https://premdhakal.github.io/ccna2cracked/</a>
			<p style="font-size: 10px; margin-left: 180px; margin-top:-2px">**Please allow flash player to experience full features on site while viewing live demo**</p>
		</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<div class="aboutProject">
					<h1>About Project: </h1>
					<p>
						<br>A web application that utilizes <b>JavaScript, HTML, CSS</b> with <b>Flash Animations.</b> Goal of the site is to make it easy and fun learning experience for students to learn CCNA 2 - Routing and Switching Basics.
					</p>
				</div>
			</article>
			<article>
				<table>
					<tr>
					  <th scope="col">Technology Used</th>
					  <th scope="col">Features Implemented</th>
					</tr>
				  <tbody>
					<tr>
					  <td class="a" data-label="Account" rowspan="2" >
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Bootstrap</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Adobe Animate</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">JavaScript</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">HTML/CSS</li></ul></td>
						</table>
					  </td>
					  <td class="b" data-label="Period" rowspan="2" >
					  	<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Subnet Calculator</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Flash Player</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Tips/Tricks</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Contact US</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Videos</li></ul></td>
						</table>
					  </td>
					</tr>
				  </tbody>
				</table>
			</article>
		</main>
		<aside>
			<div class="picAreas">
			        <p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Home Page:</b> Simple and elegant home page consisting of logo, navigation bar, sections, paragraphs, forms and outside links. Flash is implemented here to make site more engaging.</p>
			       <img  class="responsive" id="pic1" src="../assets/img/CCNA2/ccnaFP.PNG" alt="imag1">
				<p id="picDesp"><b style="font-size: 25px ; color:#dd4b39 " >Calculator Page:</b> Here, users can enter IP Address and user can get simple response to their input using JavaScript.</p>
				<img  class="responsive" id="pic2" src="../assets/img/CCNA2/ccnaConv.PNG" alt="imag2">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Commands Page:</b> Here, users can see list of common commands.</p>
				<img  class="responsive" id="pic4" src="../assets/img/CCNA2/ccnaCmd.PNG" alt="imag4">
				<p id="picDesp"><b><b style="font-size: 25px; color:#dd4b39 " >Tips/Tricks Page:</b> Tips and Tricks list variety of quick tips and tricks they can use to make learning CCNA easier.</p>
				<img  class="responsive" id="pic3" src="../assets/img/CCNA2/ccnaTips.PNG" alt="imag3">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Contact Page:</b> Here, a simple form for communication purpose.</p>
				<img  class="responsive" id="pic4" src="../assets/img/CCNA2/ccnaCon.PNG" alt="imag4">
			 </div>
		</aside>
		
						<div class="previous" style="text-align: center; letter-spacing: 0.2em; margin-bottom:-85px;" >
					<li>
						<i class="fas fa-arrow-circle-left" id="prev" onclick="window.location.href='eqInNepal.html';"></i>
						<span><i class="fas fa-home" id="prev" onclick="window.location.href='../index.html#portfolio';" ></i></span>
						
					</li>	
				</div>
	</section>
</body>

</html>
