<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Prem Dhakal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="indexCSS6.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<link href="css/projectCSS.css" rel="stylesheet" type="text/css">
	<script>
		.responsive {
		  width: 95%;
		  max-width: 400px;
		  height: auto;
		}
	</script>
</head>

<body>
	
	<div class="portfolio2">
		<div class="projectTitle">
			Chat Server
		</div>
		
		<div class="linkToGithub">
			Here is link to github: Will be provided upon request
		</div>
		
		<div class="descpProject">
			<h1>About Project: </h1>
			<p><br>Windows application built using C# and .net framework. Chat application server is built inorder to fulfill the needs of communication method for all the employees.</p>
		</div>
		<div class="projectFeatures">
			<div class="columnPF">
				<h1 id="columnPFHeading" style="width: 280px" >Techology Used: </h1>
				<li id="lists2">Java</li>
				<li id="lists">Eclipse</li>
				<li id="lists2">NetBeans</li>
			</div>
			<div class="columnPF2">
				<h1 id="columnPFHeading" style="width: 400px">Features Implemented: </h1>
				<li id="lists2">Check Inventory Records</li>
				<li id="lists">Sell/Rent Movies</li>
				<li id="lists2">Login/Logout</li>
			</div>
			
		</div>
		
			<div class="imageLabel" style="margin-top: 300px">Screenshots</div>
		<div class="moreDetail" style="overflow:auto">
			<div class="picAreas">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >C# Application</b> Simple and elegant application that will allow two or more employees at a local company to communicate using .</p>
			    <img class="responsive" src="../assets/img/Earthquake/earthQNepal.png" alt="Submarine"/>
			 </div>
		</div>
		
		<div class="previous" style="text-align: center; letter-spacing: 0.2em" >
			<li><i class="fas fa-arrow-circle-left" id="prev" onclick="window.location.href='everesthhc.html';"></i><span><i class="fas fa-home" id="prev" onclick="window.location.href='index.html';" ></i></span><span><i class="fas fa-arrow-circle-right" id="prev" onclick="window.location.href='movieStore.html';"></i></span></a>
		</div>
	</div>
  </div>
</body>
</html>