<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>eCommerce</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/singlepage_style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<div id="logo">eCommerce WebServices</div>
	</header>
	<section>
		<strong>Link to GitHub: Will be provided upon request</p>
		</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<div class="aboutProject">
					<h1>About Project: </h1>
					<p>
						<br>A web application that utilizes <b>JavaScript, HTML, CSS</b> with <b>Flash Animations.</b> Goal of the site is to make it easy and fun learning experience for students to learn CCNA 2 - Routing and Switching Basics.
					</p>
				</div>
			</article>
			<article>
				<table>
					<tr>
					  <th scope="col">Technology Used</th>
					  <th scope="col">Features Implemented</th>
					</tr>
				  <tbody>
					<tr>
					  <td class="a" data-label="Account" rowspan="2" >
					  	<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Spring Framework</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Webservices API</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">POSTMAN</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">JWT Security</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">JUnit</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Jenkins</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Docker</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Splunk</li></ul></td>
						</table>
					  </td>
					  <td class="b" data-label="Period" rowspan="2" >
					  	<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">CI/CD</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Jenkins | Docker</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Splunk metrics for log</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Unit Test</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">JWT Tokens for login</li></ul></td>
						</table>
					  </td>
					</tr>
				  </tbody>
				</table>
			</article>
		</main>
		<aside>
			<div class="picAreas">
			        <p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Add to cart api:</b>
			        	Add to cart api validates authentication of the user before letting user submit. Implemented JWT here.
			        </p>
			       <img  class="responsive" id="pic1" src="../assets/img/eCommerce_Spring/addtoCart.PNG" alt="addtoCart">
				<p id="picDesp"><b style="font-size: 25px ; color:#dd4b39 " >jUnit Test :</b> 
					jUnit test. Regression Test.
				</p>
				<img  class="responsive" id="pic2" src="../assets/img/eCommerce_Spring/jUnit.PNG" alt="imag2">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Jenkins Build from Github based on file change detection:</b>
				 Here, Jenkins Build from Github based on file change detection.</p>
				<img  class="responsive" id="pic4" src="../assets/img/eCommerce_Spring/jenkinsBuildFromGithubBasedOnFileChange.PNG" alt="imag4">
				<p id="picDesp"><b><b style="font-size: 25px; color:#dd4b39 " >Docker on Ubuntu:</b>
				 Docker running on Ubuntu Machine.</p>
				<img  class="responsive" id="pic3" src="../assets/img/eCommerce_Spring/dockerOnUbuntu.PNG" alt="imag3">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Splunk:</b> 
				Log file being monitored using Splunk and metrics, looking for error in the log in image below.</p>
				<img  class="responsive" id="pic4" src="../assets/img/eCommerce_Spring/splunkErrorSearchLog.PNG" alt="imag4">
			 </div>
		</aside>
	</section>
</body>

</html>