<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Prem Dhakal</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<link href="css/projectCSS.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="portfolio2">
		<h2 class="projectTitle"> Everest Home Health Care</h2>
		
		<div class="linkToGithub"> Here is link to github: <em>Provided upon request</em></div>
		
		<div class="descpProject">
			<h1>About Project: </h1>
			<p>This application is created using C# code on the Visual Studio while it’s
data is being imported and exported to Microsoft SQL server. Goal of this application is to make aides and office
employees at Everest HHC. life easier by helping employees access necessary information about their
clients in palm of their hand rather than flipping through hundreds of papers. Saving all information
digitally will reduce in number of loss of important paper works and save cost in long term.
Application consist features like adding, editing, deleting and displaying
list of clients, completing aides visit report or nurse visit report, navigating to aides’ home within
application for aides and nurses. Application also consists billing calculator for office employees and security features like logging in and logging out of the system and accessing contacts.</p>
		</div>
		<div class="projectFeatures">
		  <div class="columnPF">
			  <h1 id="columnPFHeading" style="width: 285px" >Techology Used: </h1>
				<li id="lists2">C#</li>
				<li id="lists">.Net Framework</li>
				<li id="lists2">Microsoft SQL Server</li>
				<li id="lists">Automation Testing</li>
				<li id="lists2">Agile Software Metholodogies</li>
				<li id="lists">Visual Studio</li>
				<li id="lists2">iMovie</li>
			</div>
			<div class="columnPF2">
			  <h1 id="columnPFHeading" style="width: 425px">Features Implemented: </h1>
				<li id="lists2">Security (login/logout) button</li>
				<li id="lists">Built in Navigation</li>
				<li id="lists2">Aides/Nurse Visit Report</li>
				<li id="lists">PDF viewer</li>
				<li id="lists2">Add/Edit/Delete Clients &amp; Employees</li>
				<li id="lists">Display Clients &amp; Employees</li>
				<li id="lists2">Automation Testing</li>
			</div>
			
		</div>
		<div class="descpProject" style="margin-top: 350px">
			<h1 style="width: 400px; margin-bottom: 10px">Vision Document: </h1>
			<embed src="pdf/userPersonaEHHC.pdf" type="application/pdf" width="92%" height="575px" style="margin-left: 30px"/>
		</div>
	  <div class="descpProject">
			<h1 style="width: 400px; margin-bottom: 10px">User Manual: </h1>
			<embed src="pdf/EHHC_User_Manual.pdf" type="application/pdf" width="92%" height="700px" style="margin-left: 30px"/>
		</div>
		
		<div class="previous" style="text-align: center; letter-spacing: 0.2em" >
			<li><i class="fas fa-arrow-circle-left" id="prev" onclick="window.location.href='index.html';"></i><span><i class="fas fa-home" id="prev" onclick="window.location.href='index.html';" ></i></span><span><i class="fas fa-arrow-circle-right" id="prev" onclick="window.location.href='chatServer.html';"></i></span></a>
		</div>
	</div>
  </div>
</body>
</html>

