<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Movie Store</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/singlepage_style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<div id="logo">MyMovie Store</div>
	</header>
	<section>
		<strong>Link to GitHub:  Here is link to github: Will be provided upon request
		</strong>
	</section>
	<section id="pageContent">
		<main role="main">
			<article>
				<div class="aboutProject">
					<h1>About Project: </h1>
					<p>
						<br>This application is built inorder to fulfill the business needs for local movie stored called "MyMovie Store". 
						Employees at MyMovie Store needed an application that can help them stay up to date with numbers of movies they have 
						currently in store. They want to see which movies are checked-out, checked-in, due date other general tasks. 
						Employees also wanted to be able to sell or rent movies out to customers.
					</p>
				</div>
			</article>
			<article>
				<table>
					<tr>
					  <th scope="col">Technology Used</th>
					  <th scope="col">Features Implemented</th>
					</tr>
				  <tbody>
					<tr>
					  <td class="a" data-label="Account" rowspan="2" >
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Java</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">JFrame</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">Eclipse IDE</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:left;text-align: left"><ul><li id="lists">NetBeans IDE</li></ul></td>
						</table>
					  </td>
					  <td class="b" data-label="Period" rowspan="2" >
					  	<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Check Inventory Records</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Sell/Rent Movies</li></ul></td>
						</table>
						<table>
							<td style="width:20%;float:left"></td>
							<td style="width:70%;float:right;text-align: left"><ul><li id="lists">Login/Logout</li></ul></td>
						</table>
					
					  </td>
					</tr>
				  </tbody>
				</table>
			</article>
		</main>
		<aside>
			<div class="picAreas">
			        <p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >
				Application</b> Simple and elegant application with login security features which allows employees at MyMovie Store to checkin, checkout, 
				sell or rent movies.</p>
				</p>
			       <img id="pic1" src="../assets/img/Movie/movieStore.png" alt="movie">				
			 </div>
		</aside>
	</section>
</body>

</html>
