<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Prem Dhakal</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="indexCSS6.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<link href="../css/projectCSS.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<div class="portfolio2">
		<div class="projectTitle">
			MyMovieStore
		</div>
		
		<div class="linkToGithub">
			Here is link to github: Will be provided upon request
		</div>
		
		<div class="descpProject">
			<h1>About Project: </h1>
			<p><br>This application is built inorder to fulfill the business needs for local movie stored called "MyMovie Store". Employees at MyMovie Store needed an application that can help them stay up to date with numbers of movies they have currently in store. They want to see which movies are checked-out, checked-in, due date other general tasks. Employees also wanted to be able to sell or rent movies out to customers.</p>
		</div>
		<div class="projectFeatures">
			<div class="columnPF">
				<h1 id="columnPFHeading" style="width: 280px" >Techology Used: </h1>
				<li id="lists2">Java</li>
				<li id="lists">Eclipse</li>
				<li id="lists2">NetBeans</li>
			</div>
			<div class="columnPF2">
				<h1 id="columnPFHeading" style="width: 400px">Features Implemented: </h1>
				<li id="lists2">Check Inventory Records</li>
				<li id="lists">Sell/Rent Movies</li>
				<li id="lists2">Login/Logout</li>
			</div>
			
		</div>
		
			<div class="imageLabel" style="margin-top: 300px">Screenshots</div>
		<div class="moreDetail" style="overflow:auto">
			<div class="picAreas">
				<p id="picDesp"><b style="font-size: 25px; color:#dd4b39 " >Application</b> Simple and elegant application with login security features which allows employees at MyMovie Store to checkin, checkout, sell or rent movies.</p>
			    <img id="pic1" src="images/movieStore.png" alt="imag1">
			 </div>
		</div>
		
		<div class="previous" style="text-align: center; letter-spacing: 0.2em" >
			<li><i class="fas fa-arrow-circle-left" id="prev" onclick="window.location.href='chatServer.html';"></i><span><i class="fas fa-home" id="prev" onclick="window.location.href='index.html';" ></i></span><span><i class="fas fa-arrow-circle-right" id="prev" onclick="window.location.href='ccna2cracked.html';"></i></span></a>
		</div>
	</div>
  </div>
</body>
</html>
